/*------------------------------------- 
		5.5 Galeria 
--------------------------------------*/
#boton{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: green;
    background-color: #100010;
    transition: transform 0.9s ease-in-out;
}

#boton:target{
    transition: transform 0.9s ease-in-out;
    transform: translateX(500%);
}

h1{
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea{
    background: #550b55;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) ;
    width: 95%;
    margin: auto;
    grid-gap: 10px;
}

.galeria > a{
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0,0,0,.5) ;
}

.galeria img{
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform .5s;
}

.galeria a:hover img{
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.ligth-box{
    position: fixed;
    top: 0%;
    left: 0%;
    background: rgba(0,0,0,.5);
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ligth-box img{
    width: 75vw;
}
